@using BingVoiceSystem.Business
@model Data

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rules Report</title>
</head>
<body>
    <h2>Rules Report</h2>
    <hr />
    <h3>Approved Rules</h3>
    @if (Model.DataList.Count > 0)
    {
        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th>Movie</th>
                <th>Genre</th>
                <th>Actor</th>
            </tr>
            @foreach (var Item in Model.DataList)
            {
                <tr>
                    <td>@Item[0]</td>
                    <td>@Item[1]</td>
                    <td>@Item[2]</td>
                </tr>
            }
        </table>
    }
    else
    {
        <h4>There is no data to display.</h4>
    }
</body>
</html>