@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Q&A</h2>
        <p>
            Enter a question and get your answer below!
        </p>
        <div ID="chat" style="overflow-y:auto; height:200px; width:500px; border: 1px solid black"></div>
        <input type="text" ID="questionTb" style="height:25px; max-width:500px; width:500px"/>
        <br />
        <br />
        <input type="button" ID="submitBtn" value="Submit" style="width:100px; height:25px"/>
        <br />
        <br />
    </div>
</div>

    @*Scrolls the chat to the bottom at each new entry*@
    @*Found at: https://stackoverflow.com/questions/270612/scroll-to-bottom-of-div--%>*@
<script type="text/javascript">
        window.onload = function () {
            document.getElementById('<%=chat.ClientID%>').scrollTop = document.getElementById('<%=chat.ClientID%>').scrollHeight;
        };
</script>