@using BingVoiceSystem.WebMVC.Models
@model RulesModel
@{ 
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="BingVoiceSystem._Default">
</head>
<body>    
@using (Html.BeginForm())
{
    <div class="row">
        <table>
            <tr><td>@Html.LabelFor(x => x.Question, "Question")</td><td>@Html.TextBoxFor(x => x.Question)</td></tr>
            @if (Model.Answer != null)
            {
                <tr><td><p>Answer: @Model.Answer</p></td></tr>
            }
        </table>
        <input type="submit" />
    </div>
}
</body>
</html>



