@using BingVoiceSystem.WebMVC.Models
@model RulesModel
@{
    ViewBag.Title = "Add New Rule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add New Rule</title>
</head>
<body>
    <h2>Add New Rule</h2>
    <hr />
    @using (Html.BeginForm())
    {
        <table class="table table-bordered">
            <tr><td>@Html.LabelFor(x => x.Question, "Question")</td><td>@Html.TextBoxFor(x => x.Question)</td></tr>
            <tr><td>@Html.LabelFor(x => x.Answer, "Answer")</td><td>@Html.TextBoxFor(x => x.Answer)</td></tr>
        </table>

        <form method="get" action="Save">
            <input type="submit" class="btn btn-primary btn-sm" value="Save" />
        </form>

        <form method="get" action="RulesList">
            <input type="submit" class="btn btn-danger btn-sm" value="Cancel" />
        </form>
        <br />
    }

</body>
</html>
