@using BingVoiceSystem
@{
    ViewBag.Title = "Add New Rule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add New Rule</title>
</head>
<body>
    <h2>Add New Rule</h2>
    <hr />

    <form method="get" action="Save" style="float: left; padding-right: 10px">
        <input type="submit" class="btn btn-primary btn-sm" value="Save" />
    </form>

    <form method="get" action="RulesList" style="float: left">
        <input type="submit" class="btn btn-danger btn-sm" value="Cancel" />
    </form>
    <br />
</body>
</html>
