@using BingVoiceSystem
@{
    ViewBag.Title = "Rules List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rules List</title>
</head>
<body>
    <h2>Rules List</h2>

    <h3>Pending</h3>

    <p>@Html.ActionLink("Add New Rule", "Add")</p>

    <h3>Approved</h3>

    <h3>Rejected</h3>

</body>
</html>